{% extends 'base.html' %}
{% block contact %}

{% load static %}
<div class="site-section py-0">

  <div class="owl-carousel hero-slide owl-style">
    {% for post in posts|slice:":3"%}
    <div class="site-section">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url({{post.thumnail.url}})"></div>
          <div class="contents">
            {% for cat in post.category.all %}

            <span class="caption">{{ cat.name }}</span>
            {% endfor %}

            <h2><a href="{% url 'post' post.id post.slug %}">{{ post.title}}</a></h2>
            <p class="mb-3">{{ post.body|slice:":500"}}</p>

            <div class="post-meta">
              <span class="d-block"><a href="#">{{ post.author.user.username }}</a> </span>
              <span class="date-read">{{ post.publish.date }} <span class="mx-1">&bullet;</span> {{post.read}} reads
                <span class="icon-star2"></span></span>
            </div>

          </div>
        </div>
      </div>
    </div>


    {% endfor %}

  </div>

</div>


<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Editor's Pick</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="post-entry-1">
              <a href="#"><img src="{{ author_post.0.thumnail.url }}" alt="Image" class="img-fluid"></a>
              <h2><a href="#">{{ author_post.0.title }}</a></h2>
              <p>{{ author_post.0.body|slice:":500" }}</p>
              <div class="post-meta">
                <span class="d-block"><a href="#">{{ author_post.0.author.user.username  }}</a> in
                  {% for cat in author_post.0.category.all %}

                  <a href="#"> {{cat.name }}</a>
                  {% endfor %}

                  <span class="date-read">{{ author_post.0.publish.date }} <span class="mx-1">&bullet;</span>
                    {{ author_post.0.read }} reads<span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            {% for post in author_post|slice:'1:' %}
            <div class="post-entry-2 d-flex bg-light">
              <div class="thumbnail" style="background-image: url({{post.thumnail.url}})"></div>
              <div class="contents">
                <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
                <div class="post-meta">

                  <span class="d-block"><a href="#">{{ post.author.user.username  }}</a> in
                    {% for cat in post.category.all %}

                    <a href="#"> {{cat.name }}</a>
                    {% endfor %}
                    <span class="date-read">{{ post.publish.date }}<span class="mx-1">&bullet;

                      </span> {{ post.read }}
                      <span class="icon-star2"></span>
                    </span>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="section-title">
          <h2>Trending</h2>
        </div>
        {% for post in trends %}
        
        

        <div class="trend-entry d-flex">
          <div class="number align-self-start">{{ forloop.counter }}</div>
          <div class="trend-contents">
            <h2><a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a></h2>
            <div class="post-meta">
              <span class="d-block">
                <a href="#">{{ post.author.user.username }}</a> in
                {% for cat in post.category.all %}

                <a href="#">{{ cat.name }}</a>
                
                {% endfor %}
              </span>
              <span class="date-read">{{post.publish.date}} </span>
            </div>
          </div>
        </div>
       
        {% endfor %}



        <p>
          <a href="{% url 'view_all' 'trending' %}" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
        </p>

      </div>
    </div>
  </div>
</div>
<!-- END section -->

<div class="py-0">
  <div class="container">
    
    <div class="half-post-entry d-block d-lg-flex bg-light">
      <div class="img-bg" style="background-image: url({{posts.0.thumnail.url}})"></div>
      <div class="contents">
        <span class="caption">Editor's Pick</span>
        <h2><a href="#">{{ posts.0.title }}</a></h2>
        <p class="mb-3">{{ posts.0.body }}</p>

        <div class="post-meta">
          <span class="d-block"><a href="#">{{ posts.0.author.user.username }}</a> </span>
          <span class="date-read">{{posts.0.publish.date}} <span class="mx-1">&bullet;</span>{{ posts.0.read }}<span
              class="icon-star2"></span></span>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Technology</h2>
        </div>
        {% for post in techs|slice:':3'%}
        <div class="post-entry-2 d-flex">
          <div class="thumbnail" style="background-image: url({{post.thumnail.url}})"></div>
          <div class="contents">
            <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
            <p class="mb-3">{{post.body|slice:':150'}}</p>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{post.author.user.username}}</a> </span>
              <span class="date-read">{{post.publish.date}} <span class="mx-1">&bullet;</span> {{post.read}} reads<span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Food</h2>
        </div>
        {% for post in foods|slice:":3" %}
        <div class="post-entry-2 d-flex">
          <div class="thumbnail" style="background-image: url({{post.thumnail.url}})"></div>
          <div class="contents">
            <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
            <p class="mb-3">{{post.body|slice:":150"}}</p>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{post.author.user.username}}</a> </span>
              <span class="date-read">{{post.publish.date}} <span class="mx-1">&bullet;</span>{{post.read}} <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="section-title">
          <h2>Recent Posts</h2>
        </div>
        {% for post in posts %}
        <div class="post-entry-2 d-flex">
          <div class="thumbnail order-md-2" style="background-image: url({{post.thumnail.url}})"></div>
          <div class="contents order-md-1 pl-0">
            <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
            <p class="mb-3">{{post.body|slice:":100"}}</p>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{post.author.user.username}}</a> in 
                {% for cat in post.category.all %}

                <a href="#">{{ cat.name }}</a>
                {% endfor %}
              </span>
              <span class="date-read">{{post.publish.date}} <span class="mx-1">&bullet;</span> {{post.read}} <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>
        {% endfor %}

       
      </div>
      <div class="col-lg-3">
        <div class="section-title">
          <h2>Popular Posts</h2>
        </div>

        {% for post in pop_post %}

        <div class="trend-entry d-flex">
          <div class="number align-self-start">{{forloop.counter}}</div>
          <div class="trend-contents">
            <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{post.author.user.username}}</a> in
                {% for cat in post.category.all %}

                <a href="#">{{ cat.name }}</a>
                {% endfor %}
              </span>
              <span class="date-read">{{post.publish.date}} <span class="mx-1">&bullet;</span>{{post.read}} <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>
        {% endfor %}

      

        <p>
          <a href="{% url 'view_all' 'popular' %}" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item">
              <a href="?page={{posts.previous_page_number}}" aria-label="Previews" class="page-link">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            <li class="page-item"><a href="#" class="page-link">{{posts.number}}</a></li>
            <!-- <li class="page-item"><a href="#" class="page-link">2</a></li> -->
            {% if posts.has_next %}
            <li class="page-item">
              <a href="?page={{posts.next_page_number}}" aria-label="Next" class="page-link">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>

        </nav>
      </div>
    </div>
  </div>
</div>

<div class="site-section subscribe bg-light">
  <div class="container">
    <form action="#" class="row align-items-center">
      <div class="col-md-5 mr-auto">
        <h2>Newsletter Subcribe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur
          obcaecati possimus nisi ea iste!</p>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="d-flex">
          <form action="/" action="Post">{% csrf_token %}
          <input type="email" class="form-control" placeholder="Enter your email" name='email' required>
          <button type="submit" class="btn btn-secondary"><span class="icon-paper-plane"></span></button>
        </form>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}